
@import 'components/c-ajax-filter';
@import 'components/c-character-limiter';
@import 'layouts/l-small-right-sidebar';

.semantic-ui-modal {
  .redactor-toolbar li a {
    padding: 9px;
  }
}

.sortable-chosen {
  color: white;
  background-color: #1abc9c;
}

.sortable-ghost {
  opacity: 0.3;
}
